/*padding*/
.pad-left-10 {
    padding-left: 10%;
}
.pad-left-20 {
    padding-left: 20%;
}
.pad-left-30 {
    padding-left: 30%;
}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    background-image: url("../img/gabriel.jpg");
} 
main,
section {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#texto-principal {
    /* background-color: rgba(165, 42, 42, 0.61); */
    position: fixed;
    top: 0;
    left:0;
    margin-top: 20%;
    margin-left: 20%;
    color: rgb(56, 56, 56);
    font-family:  "Raleway", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: Lato, Helvetica; */
    font-size: 2vw;
    text-shadow: 0px 1vw 16px #000000;

}

#texto-principal h1 {
    font-family: 'Cantarell', sans-serif;
    color: rgb(131, 131, 131);
}

/* #titulos-gabriel {
    color: rgb(131, 131, 131);
} */



#iconos {
    background-color: rgba(3, 34, 49, 0.747);
    border-radius: 0 2vw 2vw 0;
    position: fixed;
    width: 7vw;
    height: 40vw;
    top: 50%;
    margin-top: -20vw;
    left:0;
    /* transform: translate(100%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    -webkit-box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
    box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
}   

.clase-iconos {
    position: relative;
    top: 0;
    left: 0;
}
.borde{
    border-right: 3px solid rgb(255, 136, 0);
    /* border-top: 3px solid rgb(255, 136, 0); */
    /* border-bottom: 3px solid rgb(255, 136, 0); */
}
.clase-iconos:hover {
    transition-duration: 0.3s;
    transform: scale(1.2);
}
.clase-iconos p {
    font-size: 0.7vw;
}
.clase-iconos a {
    text-decoration: none;
    color: rgb(175, 171, 171);
    font-family: 'Roboto Mono', monospace;
}

.clase-iconos i {
    font-size: 5vw;
    margin: auto;
    text-align: center;
}

.clase-iconos p,
.clase-iconos i{
    text-shadow: 0px 3px 16px #000000;
}


/*medidas en vh*/
.ventana-terminal {
    border-radius: 10px 10px 0 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    

    -webkit-box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
    box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
}



#ventana-terminal {
    top: 20%;
    left: 15%;
    width: 40vw;
    height: 25vw;
}

#ventana-terminal2 {
    top: 5%;
    left: 15%;
    width: 80vw;
    height: 90vh;
}

#ventana-contacto {
    top: 10%;
    left: 15%;
    width: 60vw;
    height: 80vh;
}

.barra {
    background: linear-gradient(0deg, rgba(18,53,60,1) 0%, rgba(54,148,167,1) 100%);
    border-radius: 10px 10px 0 0;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.barra p {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
}

.consola{
    background-color: rgba(0, 0, 0, 0.774);
    height: 100vw;
    padding-left: 1.3vw;
    padding-top: .5vw;
    color: white;
    font-size: 1.4vw;
    font-family: 'Roboto Mono', monospace;
    /* line-height: 1.5; */
}
#consola-formacion {

    font-size: 1.2vw;
}






@media screen and (max-width : 640px) and (orientation: portrait) {

    html, body  {
        background-image: url('../img/gabrielmobile.jpg');
    }

    #texto-principal {
        margin-top: 100%;
        margin-left: 10%;
        font-size: 6vw;
    }


    #ventana-terminal {
        
        top: 25%;
        left: 5%;
        width: 90%;
        height: 30%;
    }
    #ventana-terminal2 {
        top: 20%;
        left: 2.5%;
        width: 95%;
        height: 75%;
    }
    #consola-formacion {
        font-size: 3vw;
        height: 100%;
        padding: 5%;
    }

    .consola,
    .barra p{
        color: white;
        font-size: 3vw;
    }
    .barra {
        height: 4vh;
    }
    .consola{
        padding-left: 2.5vw;
        padding-top: 2.5vw;
    }

    #iconos {
        width: 100%;
        height: 15vh;
        top: 0;
        margin-top: 0;
        flex-direction: row;
        border-radius: 0 0 2vw 2vw;
    }
    
    .clase-iconos {
        max-width: 25%;
        font-size: 10vw;
    }
    .clase-iconos p{
        margin: 0;
        font-size: 3vw;
    }
    .clase-iconos i {
        padding-top: 1vh;
        font-size: 15vw;
    }
    .borde{
        border-right: 0;
        border-bottom: 3px solid rgb(255, 136, 0);
}

}