/*padding*/
.pad-left-10 {
    padding-left: 10%;
}
.pad-left-20 {
    padding-left: 20%;
}
.pad-left-30 {
    padding-left: 30%;
}



/* html {
    scroll-behavior: smooth;
  } */

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/gabriel.jpg");
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    overflow-x: hidden;
    
} 
body {
    background-color: #161616;
}

#mobile-bg img{
    display: none;
}
section,
main{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}



#texto-principal {
    /* background-color: rgba(165, 42, 42, 0.61); */
    position: relative;
    top: 50%;
    /* left: 20%; */
    /* margin-top: 20%;*/
    margin-left: 20%; 
    color: rgb(180, 180, 180);
    font-family:  "Raleway", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: Lato, Helvetica; */
    font-size: 2vw;
    text-shadow: 0px 1vw 16px #000000;

}

#texto-principal h1 {
    font-family: 'Syncopate', sans-serif;
    /* font-family: 'Cantarell', sans-serif; */
    color: rgb(218, 218, 218);
    /* color: rgb(131, 131, 131); */
}

/* #titulos-gabriel {
    color: rgb(131, 131, 131);
} */



#iconos {
    /* background-color: rgba(3, 34, 49, 0.747); */
    background-color: #071e2a;

    border-radius: 0 2vw 2vw 0;
    position: fixed;
    z-index: 100;
    width: 7vw;
    height: 40vw;
    top: 50%;
    margin-top: -20vw;
    left:0;
    /* transform: translate(100%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    -webkit-box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
    box-shadow: 0px 33px 83px 15px rgba(0,0,0,0.66);
}   

.clase-iconos {
    position: relative;
    top: 0;
    left: 0;
}
.borde{
    border-right: 3px solid rgb(255, 136, 0);
    /* border-top: 3px solid rgb(255, 136, 0); */
    /* border-bottom: 3px solid rgb(255, 136, 0); */
}


.clase-iconos p {
    font-size: 0.7vw;
}
.clase-iconos a {
    text-decoration: none;
    color: rgb(175, 171, 171);
    font-family: 'Roboto Mono', monospace;
}
.activo a{
    color: rgb(224, 224, 224);
}

.clase-iconos i {
    font-size: 5vw;
    margin: auto;
    text-align: center;
}

.clase-iconos p,
.clase-iconos i{
    text-shadow: 0px 3px 16px #000000;
}



.ventana-terminal {
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-top: 50vh;
    margin-bottom: 50vh; */
    

    -webkit-box-shadow: 0px 33px 83px 15px rgba(65, 65, 65, 0.445);
    -moz-box-shadow: 0px 33px 83px 15px rgba(65, 65, 65, 0.445);
    box-shadow: 0px 33px 83px 15px rgba(65, 65, 65, 0.445);
}



#ventana-terminal {
    top: 20%;
    left: 0%;
    margin: auto;
    width: 40vw;

    
    /* height: 25vw; */
}

#ventana-terminal2 {
    top: 5%;    
    margin: auto;
    width: 80vw;
    /* height: 90vh; */
}

#ventana-contacto {
    top: 20%;
    margin: auto;
    width: 60vw;
    padding: 0;
    /* transform: scale(0.8); */
    /* height: 80vh; */
}


.barra {
    background: linear-gradient(0deg, rgba(18,53,60,1) 0%, rgba(54,148,167,1) 100%);
    border-radius: 10px 10px 0 0;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.barra p {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
}

.consola{
    background-color: rgba(0, 0, 0, 0.774);
    /* height: 100vw; */
    padding: 1.3vw;
    /* padding-top: .5vw; */
    color: white;
    font-size: 1.4vw;
    font-family: 'Roboto Mono', monospace;
    /* line-height: 1.5; */
}
#consola-formacion {

    font-size: 1.2vw;
}

#consola-contacto {
    padding: 0;
}

/* and (orientation: portrait) */
@media screen and (min-width : 641px){
    
    .clase-iconos {
        transform: scale(1);
        transition: 0.3s;
    }

    .clase-iconos:hover {
        transform: scale(1.2);
        transition: 0.3s;
        
    }
}

@media screen and (max-width : 640px){

    html, body  {
        background-image: none;
        /* background-image: url('../img/gabrielmobile.jpg'); */
    }

    #mobile-bg img{
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -100;
        margin-top: -4vh;
    }


    #texto-principal {
        top: 40%;
        margin-top: 0;
        margin-left: 7%;
        /* margin-left: 10%; */
        font-size: 6vw;
    }
    #texto-principal h1 {

        font-size: 10.7vw;
    }
    


    #ventana-terminal {
        
        top: 30%;
        width: 90%;
        /* height: 30%; */
    }

    #ventana-terminal2 {
        top: 20%;
        width: 95%;
        /* height: 75%; */
    }
    #consola-formacion {
        font-size: 3vw;
        /* height: 100%; */
        padding: 5%;
    }
    #ventana-contacto {
        top: 30vw;
        width: 80vw;
        /* height: 80vh; */
    }
    

    .consola,
    .barra p{
        color: white;
        font-size: 3vw;
    }
    .barra {
        height: 4vh;
    }
    .consola{
        padding-left: 2.5vw;
        padding-top: 2.5vw;
    }

    #iconos {
        width: 100%;
        height: 25vw;
        top: 0;
        margin-top: 0;
        flex-direction: row;
        border-radius: 0 0 2vw 2vw;
    }
    
    .clase-iconos {
        max-width: 25vw;
        font-size: 10vw;
    }
    .clase-iconos p{
        margin: 0;
        font-size: 3vw;
    }
    .clase-iconos i {
        padding-top: 1vh;
        font-size: 9vw;
    }
    .borde{
        border-right: 0;
        border-bottom: 3px solid rgb(255, 136, 0);
    }

}