html{
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
}



/* Imagen flotante */
.toolbar {
    
    position: fixed;
    bottom: 0;
    right: -27rem;
    z-index: 10000;
    transform: translate(0%);
    transition-duration: 0.5s;
    }

.toolbar img {
    width: 30rem;
    animation-duration: 20s;
    animation-name: poppp;
    animation-iteration-count: infinite;
    /*animation-fill-mode: both;*/


}

.toolbar:hover{
    transform: translate(-50%);
    transition-duration: 0.5s;
}

.menu-flotante{
    max-height: 0;
    max-width: 30 rem;
    position: fixed;
    z-index: 100010;
    background: #71B100;
}


body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

/** Utilidades **/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

/* Header */


.site-header.inicio{
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;    
    line-height: 1.7;
}


.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

/* Navegacion */
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover {
    color: #71B100;
}
.navegacion a:last-of-type {
    margin-right: 0rem;
}

/** Iconos Nosotros **/

/*.encabezado-nosotros {
    font-weight: 300;
    text-align: center;
}*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}







@keyframes poppp {

    0% {
        transform: translate(0%);
    }       

    96% {
        transform: translate(0%);
    } 

    98% {
        transform: translate(-10%);
        transition-duration: 0.5s;
    } 

/*    100% {
        transform: translate(0%);
        transition-duration: 2s;
    }    
*/

}